@font-face {
    font-family: kbold;
    src: url(../font/Kollektif-Bold.ttf);
}
@font-face {
    font-family: kitalic;
    src: url(../font/Kollektif-Italic.ttf);
}


html, body{
  height: 100%;
  width: 100%;
	font-family: Lato;
  /*overflow-x: hidden !important; */
}
.big-picture{
  	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	-o-background-size: cover !important;
  	background-size: cover !important;
  	height: 50vh;
  	width: 100%;
  	position: relative;
}
.nav-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+42,000000+58,000000+100&0.65+9,0.65+21,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 9%, rgba(0,0,0,0.65) 21%, rgba(0,0,0,0.48) 42%, rgba(0,0,0,0.35) 58%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 9%,rgba(0,0,0,0.65) 21%,rgba(0,0,0,0.48) 42%,rgba(0,0,0,0.35) 58%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 9%,rgba(0,0,0,0.65) 21%,rgba(0,0,0,0.48) 42%,rgba(0,0,0,0.35) 58%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    z-index: 100;
    color: white;
    padding: 20px;
}
.nav-holder ul{
  display: inline;
}
.pos-rel{
  position: relative;
}
.nav-holder ul>li{
 display: inline; 
}
.nav-holder ul>li a{
 color: white;
 padding: 5px 15px;
}
.circle-picture{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -75px;
}
.circle-holder{
	position: relative;
	z-index: 2;
}
.circle-picture img{
	height: 100%;
	width: auto;
}
.overlay.camera-holder{
	height: 100%;
	width: 100%;
	transition: all ease-in-out 0.15s;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top:0;
	opacity: 0;
}
.overlay.camera-holder:hover{
	opacity: 1;
}
.overlay.camera-holder i{
	color:white;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%); 
	font-size: 30px;
	transition: all ease-in-out 0.45s;
	opacity: 0;
	margin-top: 30px;
}
.overlay.camera-holder:hover i{
	opacity: 1;
	margin-top: 0;
}

.overlay.option-holder{
	height: 100%;
	width: 100%;
	position: relative;
}
.overlay.option-holder .options{
	height: 100%;
	width: 100%;
	transition: all ease-in-out 0.15s;
}
.overlay.option-holder:hover .options{
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 0;
}
.overlay.option-holder .options .options-links{
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	transition: 0.45s ease-in-out all; 
	margin-top: 30px;
}
.overlay.option-holder:hover .options .options-links{
	opacity: 1;
	margin-top: 0;
}
.options-links p{
	font-size: 30px;
}
.name-holder{
	padding-top: 95px;
}
.name-holder h2{
  font-family: Lato !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
}

.name-holder h2:hover:after{
  content: "✎";
  position: absolute;
  margin-left: 10px;
}
.with-pencil:hover:after{
  content: "✎";
  margin-left: 5px;
}
.with-pencil:hover:after{
  content: "✎";
  margin-left: 5px;
}
.with-pen-p:hover:after{
  content: "✎";
  margin-left: 5px;
}
.with-pen-p{
  margin-bottom: 0.2rem;
}
.small-p-pencil:hover:after{
  content: "✎";
  margin-left: 3px;
}
p.inline{
  display: inline;
}
.pointed{
  cursor: pointer;
}
.name-holder h4{
  font-family: Lato !important;
  font-size: 20px;
}

.name-holder h4:hover:after{
  content: "✎";
  position: absolute;
  margin-left: 10px;
}
.contact-btn{
	font-size: 1rem;
    padding: .5rem 2rem;
    border-radius: 0px;
    border: 0;
    margin-top: 50px;
}
.no-pencil:hover:after{
  display: none;
}
.contact-btn span:hover:after{
  content: "✎";
  position: absolute;
  margin-left: 10px;
}
.side-text{
	margin-top: 30px;
}
.side-text h5{
	font-weight: 600;
	margin-bottom: 15px;
}
.side-text p{
	margin-bottom: 0px;
}
.step-holder{
  margin-top: 50px;
  margin-bottom: 50px;
}



/*stepper */


.stepper li a {
     padding: 0px; 
    font-size: 14px;
    color: black !important;
}
.stepper li a .circle {
    margin-right: 0px;
    transition: all ease-in-out 0.25s;
}
.stepper-horizontal li:hover {
    background: rgba(221, 221, 221, 0);
}

.stepper-horizontal li:not(:last-child):after {
    content: '';
    position: relative;
    flex: 1;
    margin: 0;
    height: 1px;
    margin-top: -5px;
    background-color:#000;
}
.stepper-horizontal li:after,.stepper-horizontal li:before {
    transition: all ease-in-out 0.25s;
}
.stepper-horizontal li:not(:first-child):before{
    content: '';
    position: relative;
    flex: 1;
    margin: 0;
    margin-top: -5px;
    height: 1px;
    background-color:#000;
}
.stepper li.complete a .circle {
	background-color: #05a405;	
}
.stepper-horizontal li.complete:not(:last-child):after,.stepper-horizontal li.complete:not(:first-child):before{
	background-color: #05a405;
}
 .stepper li a .circle {
    background-color: #000!important;
    width: 20px;
    height: 20px;
}

.stepper-horizontal li.active:before {
    background-color: #4285F4!important;
}
.stepper-horizontal li.active:after{
	background-color: #4285F4!important;
}
.stepper li a{
    position: relative;
}
.stepper-horizontal {
    justify-content: center;
}
.stepper li:only-child{
    flex: none;
}
.stepper li a .under-word {
	font-size: 16px;
  min-width: 150px;
  margin-top: 5px;
  position: absolute;
    
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;    
}
.add-marg-top{
  margin-top: 15px !important;
}
.small-remove{
  font-size: 15px;
}
.spacer-50{
	margin-top: 50px;
}
.tag.remove-btn{
	box-shadow: none !important;
	cursor: pointer;
}
.inherit-size{
	font-size: inherit !important; 
}
.side-text .button-holder{
	margin-top: 15px;
}
.side-text .btn.btn-sm {
    font-size: .6rem;
    padding: .5rem 0.8rem;
}
input.small[type=date], input.small[type=datetime-local], input.small[type=email], input.small[type=number], input.small[type=password], input.small[type=search-md], input.small[type=search], input.small[type=tel], input.small[type=text], input.small[type=time], input.small[type=url], textarea.md-textarea.small {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    height: auto;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    margin-bottom: 10px;
}
.big{
  font-size: 25px !important;
  margin-bottom: 0 !important;
}
.width-40{
  width: 40% !important;
}
textarea.md-textarea.small{
    overflow-y: auto;
    padding: 0;
    resize: none;
    min-height: 3rem;
}
input.small:first-child{
	margin-top: 10px;
}
.side-text .btn.btn-sm {
    font-size: .6rem;
    padding: .5rem 0.8rem;
    margin: 0; 
}
hr.big-hr{
	border-top: 2px solid black;
	margin-top: 0;
	margin-bottom: 30px;
}
.np-right{
	padding-right: 0;
}
.np-right image{
	height:auto;
	width: 100%;
}
.p-left-30{
	padding-left: 30px;
	padding-top: 15px;
}
.p-important{
	font-family: kbold;
	word-wrap: break-word;
}
.p-description{
	word-wrap: break-word;
}
.date-holder p, .description-holder p{
	margin-bottom: 5px;
}
.smallbtns{
    width: 100%;
    padding: 6px 0px;
    border-radius: 2px;
    border: 0;
    color: #fff!important;
    margin: 0px 0px 6px;
    white-space: normal!important;
}
.big-holder > .row{
	margin-bottom: 30px;
}
.big-holder > .row.skillset{
	margin-bottom: 15px;
}
.big-holder h2{
	font-family: Lato;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.yellow-star{
	color: #fac917;
	font-size: 2.3em;
}
.big-star{
	font-size: 2.3em;
	transition: all 0.15s ease-in-out; 	
}
.skill-text{
	font-size: 1.5em;
}
.white-pl{
	color:white;
}
.white-pl::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
}
.white-pl::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.white-pl:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity: 1;
}
.white-pl:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity: 1;
}
.np{
	padding-top: 0 !important;
	overflow-y:auto !important; 
}
.fixed-btn{
	position: fixed;
	right:125px;
	bottom: 0;
	transition: 0.15s all ease-in-out;
	opacity: 0.4; 
}

.fixed-btn:hover{
	opacity: 1;
}

.star-rating__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating__star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ABABAB;
  transition: color .2s ease-out;
}

.star-rating__star:hover {
  cursor: pointer;
}

.star-rating__star.is-selected {
  color: #FFD700;
}
select.browser-default.section-chooser {
    display: block;
    border: none;
    border-bottom: 2px solid black;
}
.select-holder{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center !important;
}
.star-rating__star.is-disabled:hover {
  cursor: default;
}
.pos-rel{
  position: relative;
}
.pos-rel .small-remove{
  position: absolute;
  right:0;
  top:0;
  cursor: pointer;
}
.marg-5{
  margin-bottom:5px !important;
}
@media(max-width: 767px){
  .np-right {
      padding-right: 15px;
  }
  .np-right img{
      height: 60px;
  }
  .p-left-30 {
      padding-left: 15px;
      padding-top: 15px;
  }
  .width-40{
    width: 100% !important;
  }
}

.pswp__caption__center {
    text-align: center!important;
}
.mdb-lightbox figure .img-fluid{
  margin-bottom: 15px;
}
.mdb-lightbox figure .card img{
  margin-bottom: 0 !important;
}
.mdb-lightbox figure{
  position: relative;
}
.mdb-lightbox figure .card a{
  z-index: 10;
}
.mdb-lightbox figure .btn-floating {
    position: absolute;
    right: -15px;
    top: -15px;
}
.mdb-lightbox figure .btn-floating.btn-small{
    height: 30px;
    width: 30px;
    line-height: 0;
    z-index: 100;
}
.mdb-lightbox figure .btn-floating.btn-small i{
    font-size: 15px;
    margin-top: -3px;
}
.card-title {
    margin-bottom: 0rem;
    margin-top: 10px;
}
.mdb-lightbox figure .card-title {
    margin-bottom: 0rem;
    margin-top: 0px;
    color: #373a3c;
}
.mdb-lightbox{
  margin: 0 !important;
  margin-bottom: 15px !important;
}
.card .card-share .social-reveal {
    position: absolute;
    top: -28px;
    right: 6px;
    visibility: hidden;
    width: auto;
    transform: translateZ(0);
    transform: translateX(0);
    transition: transform .35s ease;
}
.card .card-share .social-reveal-active {
    z-index: 11;
    visibility: visible;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform .35s ease;
}
.view {
    overflow: hidden;
    position: relative;
    cursor: default;
    background: rgba(84, 84, 84, 0.67);
}
label.width-100 > .small{
  margin-top: 0px!important;
}
label.width-100{
  width: 100%!important;
}
span.small-edit,span.small-edit+label{
  cursor: pointer;
  font-size: 100% !important;
}
span.small-edit + label{
  font-size: 100% !important;
}
.label-inp{
  margin-bottom: 2px!important;
}
.no-marg-btm{
  margin-bottom: 0px;
}
fieldset.form-group{
  margin-bottom: 0px;
}
.marg-btm-15{
  margin-bottom: 15px;
}
.no-marg-top{
  margin-top: 0px !important;
}
.checked:before {
    content: ' ' !important;
    background-color: rgba(181, 181, 181, 0) !important;
    border-right: 2px solid rgba(0,0,0,.46) !important;
    border-bottom: 2px solid rgba(0,0,0,.46) !important;
    top:-4px !important;
    left: -3px !important;
    width: 12px !important;
    height: 22px !important;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

@media(min-width: 768px){
  .modal {
  text-align: center;
}

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal-dialog {
      display: inline-block;
      min-width: 500px;
      text-align: left;
      vertical-align: middle;
  }
}
.spacer-big{
    margin-top: 130px;
}
.testimonial-card .avatar, .testimonial-card .card-up {
    /*height: 150px;*/
    overflow: hidden;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.testimonial-card .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: -50px auto 0;
    border: none !important;
    background: #FFF;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.testimonial-card .avatar img{
  height: 100%;
  width: auto;
}
a.color-initial{
  color: #373a3c!important;
  cursor: pointer;
  width: 100%;
}
.flex-row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex-row .col-lg-4{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.no-marg-btm{
  margin-bottom: 0px !important;
}
.flex-row .card-block {
    padding-top: 0px !important;
}
.flex-row .card-title {
    margin-bottom: 5px;
}